.vs/
Scombroid.AspNetCore.HttpLogbook.DemoApp/bin/
Scombroid.AspNetCore.HttpLogbook.DemoApp/obj/
Scombroid.AspNetCore.HttpLogbook/bin/
Scombroid.AspNetCore.HttpLogbook/obj/
Scombroid.AspNetCore.HttpLogbook.Tests/bin/
Scombroid.AspNetCore.HttpLogbook.Tests/obj/
